@mixin centreIt($flexDirection: row) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $flexDirection;
}

$backgroundColor: #e0e0e0;

.form {
    @include centreIt(column);
    padding: 0.6rem;
    
    >form {
        @include centreIt(column);
        
        >input {
            display: inline;
            // width: 100%;
            width: 22rem;
            // max-width: 25rem;
            font-size: 1rem;
            padding: 0.7rem;
            outline: none;
            border: none;
            margin: 0.5rem;
            border-radius: 0px;
            background: $backgroundColor;
            box-shadow: inset 2px 2px 5px #d0d0d0, 
                        inset -2px -2px 5px #f0f0f0;
        }
    }
}

#submit-button {
    cursor: pointer;
    box-shadow: 2px 2px 5px #d0d0d0, 
                -2px -2px 5px #f0f0f0;
}

.form-container {
    @include centreIt(column);
    width: 70%;
    height: 100%;
    margin: auto;

    .form-title {
        font-weight: bold;
        font-size: 1.6rem;
    }
}