@import 'src/utils/styles.scss';

$padding: 0.4rem;

#chat-box {
    display: flex;
    flex-direction: column;
    flex-grow: 15;
    height: 100%;

    #chat-header {
        padding: $padding;
        min-height: 7%;
        flex-grow: 2;
        border-bottom: solid 1px #393939;
    }

    #chat-body {
        flex-grow: 40;
        padding: $padding;
        border-bottom: solid 1px #393939;
        overflow-y: auto;

        .left {
            float: left;
            clear: both;
            width: fit-content;
            max-width: 75%;
            margin: 0.1rem 0;
            outline: none;
            background: #403d3d;
            box-shadow: 4px 4px 8px #222222;
            padding: 0.3rem;

            .left-content {
                padding: 0.5rem;
                background-color: #353131;
                margin-top: 0.2rem;
                border-radius: 6px;
                width: 100%;
                word-wrap: break-word;
            }
        }

        .right {
            float: right;
            clear: both;
            width: fit-content;
            max-width: 75%;
            padding: 0.5rem;
            background: #352323;
            margin: 0.3rem 0;
            word-wrap: break-word;
            box-shadow: 4px 4px 8px #151515, -4px -4px 8px #37382c;
        }
    }

    #chat-footer {
        flex-grow: 4;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .editor-container {
            height: 100%;
            width: 85%;
            // flex-grow: 5;
        }
        
        #editor {
            height: 100%;
            width: 100%;
            border-radius: 4px;
            padding: $padding;
            display: block;
            line-height: 20px;
            border: none;
            background-color: $backgroundColor;
            @include boxShadow(4px, 5px);
            margin-right: 0.8rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            outline: none;
            resize: none;
        }

        .send {
            button {
                display: block;
                background-color: $backgroundColor;
                @include boxShadow();
                padding: $padding;
                color: $textColor;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
}