#chat-body-container {
    display: flex;

    #group-list {
        height: 100%;
        .group {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }

}