@import 'src/utils/styles';

#chat-body-container {
    display: flex;
    height: 100%;

    #group-list {
        height: 100%;
        flex-grow: 2;
        .group {
            @include centreIt();
            width: 3rem;
            margin: 0.5rem auto 0rem;
            height: 3rem;
            border-radius: 50%;
            @include boxShadow();
            color: $textColor;
            cursor: pointer;
        }
    }

    .item-list {
        height: 100%;
        min-width: 10rem;
        flex-grow: 6;
        background-color: #252121;

        .item {
            margin: 1rem 0.7rem 0rem;
            text-align: center;
            @include boxShadow(5px, 10px, #20101f, #393939);
            cursor: pointer;

            .link {
                display: block;
                padding: 0.5rem;
            }

        }
        
        .add-item {
            padding: 0.5rem;
        }
    }
}